<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<div class="container text-center">
<h1>PASSWORD GENERATOR!</h1>
<form action="password">
<select name="length">
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
    </select> Length
    <br>
    <h2>choose from the variety to be included in your password:)</h2>
    <input type="checkbox"name="uppercase"> Uppercase
    <br>
    <input type="checkbox"name="numbers"> Numbers
    <br>
    <input type="checkbox"name="special"> Special Characters
    <br>
    <input type="submit" value="generate password" class="btn btn-primary">
    <br>
  </form>
  <br>
  <br>
  <h3>Want to know about us??</h3>
<a href="{%  url 'about' %}"> about us</a>
  </div>
